header {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  position: absolute;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 7vw;
  display: inline-flex;
}
.leftNavDiv {
  text-align: left;
  width: 20%;
  padding: 1vw;
}
.leftNavDivUp > h1 {
  padding: 0;
  margin: 0;
  font-size: 2.5vw;
}
.leftNavDivDown > h2 {
  padding: 0;
  margin: 0;
  font-size: 1.5vw;
  color: rgb(177, 6, 140);
}
.middleNavDiv {
  width: 60%;
  height: 100%;
}
.rightNavDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 1vw;
  display: inline-flex;
}
.rightNavDiv > div {
  position: relative;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: 90%;
  height: 100%;
  transition: all 100ms ease-in-out;
}
.rightNavDiv > div:hover {
  background-color: rgb(240, 240, 240);
  margin-top: 2px;
}
.rightNavDiv > div > img {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
  height: 60%;
}
.rightNavDiv > div > h4 {
  font-size: 1.5vw;
  width: 70%;
}
