.SideBar {
  background-color: rgb(177, 6, 140);
  height: calc(100vh - 7vw);
  position: absolute;
  margin-top: 7vw;
  width: 20%;
  top: 0;
  left: 0;
  padding: 1vw;
}
.sideBarNav {
  text-align: center;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1vw;
}
.sideBarNav > li {
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 15px;
  width: 80%;
  margin: auto;
  color: rgb(255, 255, 255);
  font-size: 1.25vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 1vw;
  margin-bottom: 2vw;
  transition: all 200ms ease-in-out;
}
.sideBarNav > li:hover {
  color: rgb(177, 6, 140);
  background-color: rgb(255, 255, 255);
}
